
#root{
    position:absolute;
    left:0;
    top: 10%;
    height: 100%;
    width:20%;
    gap:2%;
    text-overflow: ellipsis;
    overflow-x:19%;
    overflow-wrap: break-word;
    background-color: #333;
}

.semester-header {
    background-image:linear-gradient(#f101d6,#c408dd);
    padding: 2%;
    font-weight: bold; 
    border-radius: 25px; 
}